body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: large;
}

font {
    text-align: center;
    font-size: large;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select, input, button {
    margin: 10px 0;
    padding: 10px;
    width: 120%;
    max-width: 800px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;  
}

button:hover {
    background-color: #218838;
}

#calendar-container {
    display: flex;
    justify-content: flex-end; /* Align calendar to the right */
    margin-bottom: 20px;
    flex-grow: 1;
}

#food-picture-container {
    text-align: center;
    margin: 10px 0;
}

#food-picture {
    max-width: 200px;
    max-height: 200px;
}

.form-calendar-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px; 
}

.form-picture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align input fields to the left */
    margin-left: 20px;
    flex-grow: 1;
}

#food-tables {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .form-calendar-wrapper {
        flex-direction: column; /* Stack calendar and input fields vertically */
    }

    #calendar-container {
        justify-content: center; /* Center the calendar on mobile */
        margin-bottom: 15px; /* Adjust spacing */
    }

    .form-picture-wrapper {
        align-items: center; /* Center input fields on mobile */
        margin-left: 0; /* Remove left margin on mobile */
    }
}
